/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

/* VARIABLES */
:root {
  /* Colores */
  --black: #222831;
  --dark-gray: #393e46;
  --normal-gray: #888888;
  --light-gray: #eeeeee;
  --white: #ffffff;
  --orange1: #d65a31;
  --orange2: #f08a5d;
  --green1: #00adb5;
  --green2: #a6e3e9;
  --yellow1: #daca25;
  --yellow2: #f7d86b;
}


/* Inicializando etiquetas HTML */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: 'Roboto', sans-serif;

}

header {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

header h1 {
  font-family: 'Gochi Hand', cursive;
  font-size: 48px;
}

main {
  width: 100vw;
  height: 75vh;
  padding: 0 5vw;
  display: flex;
}

#visor {
  width: 65%;
  height: 100%;
  overflow: hidden;
}

#visor-img {
  width: 100%;
  height: 85%;
  background-color: var(--light-gray);
  border-radius: 10px;
  overflow: hidden;
}

#imagen-principal {
  width:100%;
  height: 100%;
  object-fit: contain;
}

.showUp {
  animation-name: showUp;
  animation-duration: 0.5s;
}

#visor-filtros {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.btn-filtro {
  padding: 10px 15px;
  margin: 5px;
  width: 120px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}

.btn-filtro:focus {
  outline: none;
}

.btn-filtro:active {
  transform: scale(0.9);
}

#btn-blur:hover {
  border: 1px solid var(--green1);
  background-color: var(--green1);
  color: var(--white);
}

.btn-blur-normal {
  border: 1px solid var(--green1);
  background-color: var(--white);
  color: var(--green1);
}

.btn-blur-active {
  border: 1px solid var(--green2);
  background-color: var(--green2);
  color: var(--white);
}

#btn-gris:hover {
  border: 1px solid var(--dark-gray);
  background-color: var(--dark-gray);
  color: var(--white);
}

.btn-gris-normal {
  border: 1px solid var(--dark-gray);
  background-color: var(--white);
  color: var(--dark-gray);
}

.btn-gris-active {
  border: 1px solid var(--normal-gray);
  background-color: var(--normal-gray);
  color: var(--white);
}

#btn-sepia:hover {
  border: 1px solid var(--yellow1);
  background-color: var(--yellow1);
  color: var(--white);
}

.btn-sepia-normal {
  border: 1px solid var(--yellow1);
  background-color: var(--white);
  color: var(--yellow1);
}

.btn-sepia-active {
  border: 1px solid var(--yellow2);
  background-color: var(--yellow2);
  color: var(--white);
}

#btn-contraste:hover {
  border: 1px solid var(--orange1);
  background-color: var(--orange1);
  color: var(--white);
}

.btn-contraste-normal {
  border: 1px solid var(--orange1);
  background-color: var(--white);
  color: var(--orange1);
}

.btn-contraste-active {
  border: 1px solid var(--orange2);
  background-color: var(--orange2);
  color: var(--white);
}

#imagenes {
  width: 35%;
  height: 100%;
  margin-left: 30px;
}

#imagenes h2 {
  height: 40px;
  background-color: var(--white);
  text-align: center;
}

#categorias {
  height: calc(100% - 40px);
  overflow: scroll;
  overflow-x: hidden;
}

.categoria {
  padding-bottom: 20px;
}

.categoria-titulo {
  padding-bottom: 10px;
}

.categoria-imagenes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.imagen {
  width: calc(100% / 3);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.imagen:hover {
  opacity: 0.5;
}

.imagen:active {
  transform: scale(0.9);
}

footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

footer h3 {
  font-size: 24px;
}

/* Scrollbar */
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: var(--light-gray); }
::-webkit-scrollbar-thumb { background: var(--normal-gray); }
::-webkit-scrollbar-thumb:hover { background: var(--dark-gray); }

/* Animaciones */
@keyframes showUp {
  from {
    opacity: 50%;
  }
  to {
    opacity: 100%;
  }
}